
header {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	padding: 8px 24px;
	text-align: left;
	background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));

	h2 {
		font-size: 1.5em;
	}
}


footer {
	padding: 32px 24px;
	font-size: 0.7em;
	color: $light-grey;
	text-align: center;
}