
@include keyframes(pong-ball) {
	0% {
		top: 0;
		left: 20%;
	}
	10% {
		top: 90%;
		left: 50%;
	}
	20% {
		top: 0;
		left: 85%;
	}
	30% {
		top: 45%;
		left: 95%;
	}
	40% {
		top: 95%;
		left: 70%;
	}
	50% {
		top: 0;
		left: 40%;
	}
	60% {
		top: 95%;
		left: 10%;
	}
	65% {
		top: 80%;
		left: 0;
	}
	75% {
		top: 0;
		left: 50%;
	}
	85% {
		top: 80%;
		left: 95%;
	}
	90% {
		top: 95%;
		left: 80%;
	}
	100% {
		top: 0;
		left: 20%;
	}
}